body::-webkit-scrollbar {
	width: 5px; /* Ширина всего элемента навигации */
}

body::-webkit-scrollbar-track {
	background: #fff; /* Цвет дорожки */
}

body::-webkit-scrollbar-thumb {
	background-color: #727b89; /* Цвет бегунка */
	border-radius: 1px; /* Округление бегунка */
	//border: 3px solid #050c26; /* Оформление границ бегунка */
}

::-webkit-scrollbar {
	-webkit-appearance: none;
}
// ::-webkit-scrollbar:vertical {
// 	width: 12px;
// }
::-webkit-scrollbar:horizontal {
	height: 5px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .5);
	// border-radius: 10px;
	// border: 2px solid #ffffff;
}
::-webkit-scrollbar-track {
	// border-radius: 10px;
	background-color: #ffffff;
}

html {
	scroll-behavior: smooth;
	font-size: 10px;
}

body {
	background-color: var(--page-bg);
	color: var(--text-color-black);
    font-family: var(--font-main);
}

.title {
	text-transform: uppercase;
	position: relative;
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	font-size: 40px;
	margin-bottom: 20px;

	&:after {
		position: absolute;
		content: "";
		height: 2px;
		width: 100vw;
		background-color: rgba(181, 151, 109, 0.2);
		margin-left: 3%;
		top: 50%;
	}
	@media (max-width: 768px) {
		font-size: 24px;
		margin-bottom: 20px;
	}
}

.title-page {
	font-size: 46px;
	margin-top: 20px;

	@media (max-width: 768px) {
		font-size: 24px;
		margin-bottom: 20px;
	}
}


.section {
	padding-top: 20px;
	padding-bottom: 35px;

	@media (max-width: 768px) {
		margin-top: 20px;
		margin-bottom: 20px;
	}

}

.section-single {
	margin-top: 30px;
}
