html {
	scroll-behavior: smooth;
	font-size: 10px;
}

body {
	background-color: var(--page-bg);
	color: var(--text-color-black);
    font-family: var(--font-main);
}

.title {
	text-transform: uppercase;
	position: relative;
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	font-size: 40px;
	margin-bottom: 40px;

	&:after {
		position: absolute;
		content: "";
		height: 2px;
		width: 100vw;
		background-color: rgba(181, 151, 109, 0.2);
		margin-left: 3%;
		top: 50%;
	}

	@media (max-width: 768px) {
		font-size: 24px;
		margin-bottom: 20px;
	}
}

.section {
	margin-top: 70px;
	margin-bottom: 70px;

	@media (max-width: 768px) {
		margin-top: 20px;
		margin-bottom: 20px;
	}

}

.section-single {
	margin-top: 30px;
}
