:root {
	--container-width: 1440px;  /*1670px*/
	--container-padding: 10px;  /*15px*/

	--font-main:  "Pangram", sans-serif;
	--font-accent: 'Playfair Display', serif;

	--page-bg: #fff;
	--text-color-black: #1B1B1B;
	--text-color-white: #fff;
	--text-color-gray: rgba(27, 27, 27, 0.5);
	--sand: #B48D51;
	--sand-transparent: rgba(205, 170, 82, 0.75);
	--green: #2F6957;
	--gray: #F9F9F9;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color-black: #fff;
}