.about-company-banner {
	position: relative;
}

.about-company-banner img {
	width: 100%;
	object-fit: cover;
	rotate: 180;

	@media (max-width: 1200px) {
		height: 500px;
	}
}

.about-company-banner::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
	opacity: 1;
}

.about-company-banner-content {
	position: absolute;
	font-family: "Pangram", sans-serif;
	color: var(--text-color-white);
	width: 100%;
	right: 0;
	bottom: 20px;
	left: 0;
}

.about-company-banner-title {
	font-family: "Pangram", sans-serif;
	color: var(--text-color-white);
	font-size: 24px;
	margin-bottom: 20px;
	text-align: center;

	@media (max-width: 528px) {
		font-size: 18px;
	}
}

.about-company-banner__row {
	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width: 1200px) {
		gap: 30px;
	}

	@media (max-width: 528px) {
		gap: 10px;
	}
}

.about-company-banner__col {
	display: flex;

	@media (max-width: 1200px) {
		flex-direction: column;
		row-gap: 10px;
	}
}

.about-company-banner__item {
	height: 70px;
	position: relative;
	display: flex;
	justify-content: center;
	padding: 10px 16px;
	flex-direction: column;
	background-position: 10px 50%;
	background-size: auto;
	background-repeat: no-repeat;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		// background: rgba(255, 255, 255, 0.4);
		border-radius: 5px;
		filter: blur(2px);
		transition: all 0.2s ease-in;
	}

	&:hover::before {
		opacity: 0.8;
		filter: blur(5px);
	}

	@media (max-width: 1200px) {
		height: 50px;
		max-width: 300px;
		width: 100%;
		background-size: 40px;
		// padding: 4px 8px;
	}

	@media (max-width: 528px) {
		height: 50px;
		max-width: 200px;
		width: 100%;
		background-size: 26px;
		padding: 4px 8px;
	}
}

.ci-01 {
	background-image: url("../img/about-company/about-page/ab-ic5.svg");
	background-position: 10px 50%;

	background-repeat: no-repeat;
}
.ci-02 {
	background-image: url("../img/about-company/about-page/ab-ic3.svg");
	background-position: 10px 50%;

	background-repeat: no-repeat;
}
.ci-03 {
	background-image: url("../img/about-company/about-page/ab-ic4.svg");
	background-position: 10px 50%;

	background-repeat: no-repeat;
}
.ci-04 {
	background-image: url("../img/about-company/about-page/ab-ic2.svg");
	background-position: 10px 50%;

	background-repeat: no-repeat;
}
.ci-05 {
	background-image: url("../img/about-company/about-page/ab-ic1.svg");
	background-position: 10px 50%;

	background-repeat: no-repeat;
}

.about-company-banner__item-title {
	margin-left: 70px;
	font-size: 18px;

	@media (max-width: 768px) {
		font-size: 12px;
		margin-left: 40px;
	}
}

.about-company-banner__item-text {
	margin-left: 70px;
	font-size: 16px;

	@media (max-width: 768px) {
		font-size: 10px;
		//margin-left: 40px;
	}
}

//ABOUT COMPANY CONTENT
.about-company-content {
	overflow: hidden;
}

.about-company-content-wrap {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 60px;

	@media (max-width: 1100px) {
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}
}
.about-company-content-img {
	display: flex;
	align-items: center;
	justify-content: center;
}

.about-company-content-img img {
	margin-top: 66px;
	max-height: 400px;

	@media (max-width: 1100px) {
		margin-top: 0;
	}
}

.about-company-content-number {
	position: relative;
	width: 10%;

	@media (max-width: 1100px) {
		align-self: self-start;
		margin-bottom: 30px;
	}
}

.circle {
	position: absolute;
	font-size: 30px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
	height: 50px;
	background-color: #2b7a78;
	color: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;

	@media (max-width: 1100px) {
		transform: translateX(0);
		left: 0;
	}
}
.line {
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	width: 2px;

	height: 100vh;
	background-color: #2b7a78;

	@media (max-width: 1100px) {
		top: 0;
		left: 22px;
		transform: rotate(0deg);
		width: 100vw;
		height: 2px;
	}
}

.about-company-content-item {
	width: 100%;
	margin: 0 auto;

	@media (max-width: 1100px) {
		max-width: 640px;
	}
}

.about-company-content-item:last-child {
	flex: 0 0 40%;
}

.about-company-content-item:first-child {
	@media (max-width: 1100px) {
		order: 3;
	}
}

.about-company-content-media {
	height: 0px;
	padding-bottom: 56.2%;
	position: relative;
}

.about-company-content-media iframe {
	width: 100%;
	height: 100%;
	top: 66px;
	position: absolute;

	@media (max-width: 1100px) {
		top: 0;
	}
}

.about-company-text-year {
	font-family: Pangram-bold, sans-serif;
	font-size: 30px;
}

.about-company-text {
	max-width: 600px;
	max-height: 400px;
	font-family: "Pangram", sans-serif;
	font-size: 18px;
	text-align: justify;

	@media (max-width: 1200px) {
		font-size: 16px;
	}

	@media (max-width: 768px) {
		font-size: 14px;
	}
}

.about-company-text p:not(:last-child) {
	margin-bottom: 20px;
}
