.card-apartment {
  background-color: white;
  max-width: 530px;
  width: 100%;
  max-height: 800px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  overflow: hidden;
}

.card-apartment_header {
  padding: 15px;
  //background-color: #f9f9f9;
  //border-bottom: 1px solid #ddd;
}

.card-apartment__info, .card-apartment__delivery {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #666;
}

.card-apartment__info p span {
  margin-left: 4px;
}

.card-apartment__delivery {
  margin-top: 4px;
}

.card-apartment__delivery p span {
  margin-left: 4px;
}

.card-apartment__info p span, .card-apartment__delivery p span {
  font-weight: 500;
  color: var(--text-color-black);
}

.card-apartment__price {
  font-size: 24px;
  color: #a67c00;
  margin-top: 10px;
}

.card-apartment__body {
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-apartment__body img {
  width: 204px;
  margin-bottom: 10px;
  height: auto;
  object-fit: cover;
}

.card-apartment__details {
  font-size: 14px;
  color: #666;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-apartment__details p span {
  font-weight: 500;
  color: var(--text-color-black);
}

.card-apartment__footer {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1320px) {
    flex-direction: column;
    align-items: flex-start;
  }


}

.card-apartment__address {
  font-size: 16px;
}

.card-apartment__address span {
  color: #206a5d;
  font-weight: 600;
  font-size: 18px;
}

.card-apartment__btns-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}




.card-apartment__favorite svg {
  width: auto;
  height: 41px;
  //color: #ccc;
  cursor: pointer;
}

.card-apartment__favorite:hover svg path {
  stroke: red;
}