.card-complex {
	font-family: var(--font-main);
	position: relative;
	max-width: 530px;
	width: 100%;
	max-height: 650px;

	&:hover {
		.card-complex__picture::before {
			opacity: 0;
		}
	}
}

.card-complex-main__row.card-row-2 {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 100%;
}

.card-complex-main__status {
	position: absolute;
	bottom: 4%;
	right: 6%;
	font-family: "Pangram-bold", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 114%;
	text-align: center;
	color: var(--text-color-white);
	background-color: var(--sand-transparent);
	padding: 8px 12px;

	@media (max-width: 1200px) {
		font-size: 14px;
	}
}

.card-complex__details {
	position: absolute;
	top: 4%;
	right: 6%;
	text-transform: uppercase;
	font-family: "Pangram", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 114%;
	text-align: center;
	color: var(--text-color-white);
	background-color: var(--green-light);
	padding: 12px 16px;
	z-index: 2;


	@media (max-width: 1200px) {
		font-size: 12px;
	}
}

.card-complex__picture {
	position: relative;

	&:before {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #000;
		opacity: 0.2;
		transition: 0.3s;
		//border-radius: 4px;
		z-index: 1;
	}
}

.card-complex__picture img {
	margin: 0 auto;
	height: auto;
	object-fit: cover;
}

.card-complex__desc {
	margin-top: 10px;
	z-index: 15;
}

.card-complex__desc-row {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-complex__title {
	font-family: "Pangram-bold", sans-serif;
	//font-weight: 700;
	font-size: 24px;
	line-height: 100%;
	color: var(--text-color-black);
	margin-bottom: 10px;

	@media (max-width: 1200px) {
		font-size: 20px;
		line-height: 100%;
	}
}

.card-complex__sub-title {
	font-weight: 500;
	font-size: 18px;
	color: #444444;

	@media (max-width: 1200px) {
		font-size: 16px;
	}
}

.card-complex__info-container {
	display: flex;
	margin-top: 10px;
	justify-content: space-between;
	gap: 5px;
	padding-right: 10px;
}

.card-complex__info-title {
	font-size: 14px;
	color: var(--text-color-gray);

	@media (max-width: 420px) {
		font-size: 12px;
	}
}

.card-complex__info-value {
	font-size: 14px;
	color: var(--text-color-black);

	@media (max-width: 420px) {
		font-size: 12px;
	}
}

.card-complex__link {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}