.commerce-info {
	background-color: white;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	gap: 60px;

	@media (max-width: 1200px) {
		flex-direction: column;
	}
}

.commerce-info__slider-wrap {
	max-width: 50%;
	position: relative;

	@media (max-width: 1200px) {
		max-width: 100%;
	}
}

.commerce-info__pic {
	position: relative;
}

.commerce-info__pic:hover .commerce-info__pic-hover {
	opacity: 1;
}

.commerce-info__pic-hover {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	opacity: 0;
	transition: ease-in-out 0.3s;
	//z-index: 10;

	img {
		width: 50px;
		height: 50px;
	}
}

.commerce-info__slider {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 50%;
	position: relative;
}
.commerce-info__slider .swiper-slide {
	text-align: center;
	font-size: 18px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.commerce-info__slider-pagination {
	margin: 40px 0;
	text-align: center;
	position: relative;
}

.commerce-info__slider-pagination .swiper-pagination-bullet {
	//width: 20px;
	//height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	opacity: 1;
	background: rgba(0, 0, 0, 0.2);
}

.commerce-info__slider-pagination .swiper-pagination-bullet-active {
	background: var(--green);
}
