.filter__wrap {
	padding: 0 var(--container-padding);
	max-width: var(--container-width);
	margin: 0 auto;
}

.filter {
	background-color: var(--gray) !important;
}

.filter__tab-content {
	background-color: var(--gray) !important;
}

.filter__search-title {
	font-family: "Pangram-bold", sans-serif;
	font-size: 32px;
	font-weight: 500;
	line-height: 130%;
	margin-bottom: 20px;
	@media (max-width: 768px) {
		font-size: 24px;
	}
}

.filter__tab-row {
	color: var(--text-color-black);
	height: 100%;
	display: flex;
	gap: 20px;
	justify-content: space-between;

	@media (max-width: 1200px) {
		flex-wrap: wrap;
		gap: 12px;
	}

	@media (max-width: 768px) {
		flex-direction: column;
		gap: 0;
		width: 100%;
	}
}

.filter__col {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 330px;
	max-height: 230px;

	row-gap: 20px;

	@media (max-width: 1200px) {
		flex-basis: 46%;
	}

	@media (max-width: 768px) {
		width: 100%;
		row-gap: 0;
	}
}

.filter__el {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	@media (max-width: 1200px) {
		width: 95%;
	}
}

.filter__col:last-child .filter__el {
	margin-top: auto;
}

.filter__row-el-btns-container {
	display: flex;
	gap: 16px;
}

.filter__row-title {
	font-family: "Pangram", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 130%;
	margin-bottom: 4px;
}

.filter-slider__text {
	color: var(--text-color-black);
	font-size: 16px;
	font-weight: 500;
}

.filter-slider__inputs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 6px;
	padding: 0 10px;
	width: 100%;
}

.filter-slider__inputs .filter-slider__label {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 4px;

	input {
		padding: 0;
		border: none;
		background-color: transparent;
		width: auto;
		display: inline-block;
		width: 100%;
	}
}

.filter-slider__input {
	font-family: "Pangram-bold", sans-serif;
	margin-left: 5px;
	font-weight: normal;
	font-size: 16px;
	color: var(--text-color-black);
}

.filter__range-slider {
	align-self: center;
	cursor: pointer;
	margin-bottom: 10px;
	// z-index: 0 !important;
}

.filter__el-btns {
	color: var(--text-color-black);
	font-weight: 500;
	font-size: 18px;

	@media (max-width: 998px) {
		font-size: 16px;
	}
}

.filter__el-btns.active {
	background-color: var(--green-light);
	color: var(--text-color-white);
	border: 2px solid var(--green-light); /* Зеленая рамка для активной кнопки */
}

.filter__btn-apartment {
	text-transform: none;
	min-height: 40px;
	width: 100%;
	font-size: 16px;
}

//Range slider

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

/* Разрешаем вертикальный свайп на всех элементах слайдера */
.noUi-target,
.noUi-target * {
	touch-action: pan-y !important;
}

.noUi-connect {
	cursor: pointer;
	background-color: var(--sand) !important;
	touch-action: pan-y !important; /* Разрешаем вертикальный свайп */
}

.noUi-target {
	width: 90%;
	border: none !important;
	border-radius: 100px !important;
	box-shadow: none !important;
	height: 1px !important;
	touch-action: pan-y !important; /* Разрешаем вертикальный свайп */
}

.noUi-handle::after,
.noUi-handle::before {
	display: none !important;
}

.noUi-handle {
	box-shadow: none !important;
	border-radius: 8px !important;
	background-color: var(--sand) !important;
	border: 3px solid var(--sand) !important;
	touch-action: pan-y !important; /* Разрешаем вертикальный свайп */

	::before {
		content: "";
		height: 6px;
		background-color: #774a07;
		width: 1px;
		position: absolute;
		left: 43%;
		top: 0;
		bottom: 0;
		margin: auto;
	}

	::after {
		content: "";
		height: 6px;
		background-color: #774a07;
		width: 1px;
		position: absolute;
		right: 43%;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}

.noUi-horizontal .noUi-handle {
	cursor: pointer;
	width: 32px !important;
	height: 16px !important;
	top: -8px !important;
	right: -11px !important;
	touch-action: pan-y !important; /* Разрешаем вертикальный свайп */
}

.noUi-horizontal .noUi-handle::before {
	//right: 0 !important;
}

//DROPDOWN
.filter__dropdown {
	width: 100%;
	position: relative;
	display: inline-block;
}

.filter__dropdown label {
	font-family: "Pangram", sans-serif;
	font-size: 16px;
}

.filter__dropdown-menu-btn {
	font-family: "Pangram", sans-serif;
	font-size: 18px;
	cursor: pointer;
	padding: 10px;
	background-color: white;
	border-bottom: 1px solid #ccc;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	position: relative;

	&:hover::before {
		filter: brightness(0.2);
		transform: translate(0.1%, 0);
	}
}

.filter__dropdown-menu-btn::before {
	filter: brightness(0.7);
	content: "";
	width: 16px;
	height: 10px;
	background-image: url("../img/icons/arrow.svg");
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%) rotate(0deg);
	transition: transform 0.2s ease-in-out; /* Анимация поворота */
}

/* Меняем угол поворота стрелки при открытом меню */
.filter__dropdown-menu-btn.open::before {
	transform: translateY(-50%) rotate(180deg);
}

.filter__dropdown-content {
	width: 100%;
	position: absolute;
	background-color: white;
	border: 1px solid #ccc;
	padding: 4px;
	z-index: 5;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);

	max-height: 0; // Начальное состояние
	opacity: 0; // Начальная прозрачность
	overflow: hidden; // Скрываем переполнение
	transition: max-height 0.3s, opacity 0.3s; // Плавный переход
}

.filter__dropdown-content.active {
	max-height: 140px;
	opacity: 1; // Полная видимость
	overflow-y: scroll;
	z-index: 10;
}

.filter__dropdown-content.active::-webkit-scrollbar {
	width: 5px;
}

.filter__dropdown-content.active::-webkit-scrollbar-track {
	background: #fff;
}

.filter__dropdown-content.active::-webkit-scrollbar-thumb {
	background-color: #727b89;
	border-radius: 2px;
}

.filter__dropdown .input_field {
	width: 100%;
	line-height: 32px;
	padding-left: 4px;
	transition: background-color 0.1s ease;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: color 0.2s ease-in-out;
}

.filter__dropdown .input_field label {
	width: 100%;
	padding-left: 10px;
}

.input_field:hover {
	background: rgba(221, 221, 221, 0.5);
}

.input_field.selected {
	color: var(--green-light);
	background: rgba(221, 221, 221, 0.5);
}

.catalog-sort__dropdown {
	max-width: 330px;
	// margin: 5px 0 25px 6px;
	margin-bottom: 25px;
	.filter__dropdown-menu-btn {
		border: 1px solid rgba(221, 221, 221);
	}
}

.custom-checkbox {
	appearance: none;
	width: 20px;
	height: 20px;
	border: 2px solid #ccc;
	position: relative;
	cursor: pointer;
	background-color: white;
	transition: background-color 0.2s ease, border-color 0.2s ease;
}

.custom-checkbox:checked {
	background-color: var(--green-light); /* Зеленый фон */
	border-color: var(--green-light);
}

.custom-checkbox:checked::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 6px;
	height: 12px;
	border: solid white;
	border-width: 0 2px 2px 0;
	transform: translate(-50%, -60%) rotate(45deg);
}

.input_field label {
	cursor: pointer;
}

.filter-mobile-top {
	display: none;
	@media (max-width: 768px) {
		display: flex;
	}
}

.filter__show-all-btn {
	display: none;
	width: 100%;
	margin-top: 10px;
	text-transform: none;
	margin-bottom: 16px;

	@media (max-width: 768px) {
		width: 95%;
		display: block;
	}
}

.filter__hidden-elements {
	@media (max-width: 768px) {
		padding: 0;
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		transition: max-height 0.4s, opacity 0.4s;
		pointer-events: none;
	}
}

.filter__hidden-elements.active {
	@media (max-width: 768px) {
		margin-top: 8px;
		margin-bottom: 8px;
		max-height: 500px;
		opacity: 1;
		overflow: visible;
		pointer-events: auto;
	}
}
