

.filter {
  font-family: "Montserrat", sans-serif;
  background-color: var(--gray) !important;
}

.filter__tab-content {
  background-color: var(--gray) !important;
}

.filter__tab-btn-container {
  max-width: 75%;

  @media (max-width: 1200px) {
    max-width: 100%;
  }

  @media (max-width: 998px) {
    flex-direction: column;
    gap: 20px;
  }

}


.filter__tab-row {
  color: var(--text-color-black);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1200px) {
    flex-direction: column;
    gap: 30px;
  }
}

.filter__tab-title {
  color: var(--text-color-black);
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;

  @media (max-width: 998px) {
    text-align: left;
    font-size: 20px;
  }

}

.filter__el {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 1200px) {
    width: 100%;
  }
  //align-items: center;
}

.filter__row-title {
  color: var(--text-color-black);
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;

  @media (max-width: 998px) {
    font-size: 18px;
  }

}

.filter-slider__text {
  color: var(--text-color-black);
  font-weight: 500;
  font-size: 20px;
  line-height: 40%;

  @media (max-width: 998px) {
    font-size: 18px;
  }

}

.filter-slider__input {
  font-weight: 500;
  font-size: 20px;
  color: rgba(27, 27, 27, 0.25);

  @media (max-width: 998px) {
    font-size: 16px;
  }

}

.filter__range-slider {
  cursor: pointer;
  margin-bottom: 10px;
}

.filter__el-btns {
  color: var(--text-color-black);
  font-weight: 500;
  font-size: 20px;

  @media (max-width: 998px) {
    font-size: 18px;
  }

}

.filter__btn-container {
  position: relative;
  max-width: 295px;
  width: 100%;

  @media (max-width: 1400px) {
    max-width: 200px;
  }

}

.filter__btn {
  position: absolute;
  bottom: 0;
  max-width: 295px;
  width: 100%;
  font-size: 20px;

  @media (max-width: 768px) {
    font-size: 16px;
  }

}


//Range slider

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.noUi-connect {
  cursor: pointer;
  background-color: var(--sand) !important;
}

.noUi-target {
  background-color: #bfbfbf !important;
  border: none !important;
  border-radius: 100px !important;
  box-shadow: none !important;
  height: 3px !important;
}

.noUi-handle::after,
.noUi-handle::before {
  display: none !important;
}

.noUi-handle {
  cursor: pointer !important;
  box-shadow: none !important;
  border-radius: 100% !important;
  background-color: var(--sand) !important;
  border: 3px solid var(--sand) !important;
}


.noUi-horizontal .noUi-handle {
  width: 22px !important;
  height: 22px !important;
  top: -10px !important;
}

.noUi-horizontal .noUi-handle-upper {
  //right: 0 !important;
}