.footer {
	background-color: #162C44;
	padding: 30px 0;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	gap: 25px;

	@media (max-width: 1200px) {
		flex-direction: column;
		align-items: center;
	}
}

.footer__logo img {
	width: 150px; /* Adjust size as needed */
}

.footer__col {
	display: flex;
	justify-content: space-between;
	column-gap: 80px;

	@media (max-width: 768px) {
		flex-direction: column;
		align-items: center;
		row-gap: 20px;
	}

}


.footer-socials {
	display: flex;
	gap: 16px;
	justify-content: center;
	margin-top: 10px;
}


.footer__list {
	text-align: center;
}

.footer__btn-container {
	margin-top: 10px;
	
		width: 100%;
	
}

.footer__list-link {
	color: var(--text-color-white);
	font-size: 16px;
	line-height: 200%;
	transition: all 0.3s ease;
}

.footer__list-link:hover {
	color: var(--green-light);
}

.footer__col-phone-item {
	display: flex;
	justify-content: space-between;
	column-gap: 25px;

	@media (max-width: 768px) {
		flex-direction: column-reverse;
		align-items: center;
		margin-bottom: 15px;
	}

}

.footer__col-phone-item li {
	color: var(--text-color-white);
	font-size: 16px;
	line-height: 200%;

	@media (max-width: 768px) {
		line-height: 130%;
		font-size: 12px;
	}

}

.footer__phone {
	color: var(--text-color-white);
	font-size: 16px;
	line-height: 200%;
	transition: all 0.3s ease;

	@media (max-width: 768px) {
		line-height: 130%;
	}

}

.footer__phone:hover {
	color: var(--green-light);
}

