.form-contact__container {
  max-width: 500px;
}

.form-contact {
display: flex;
flex-direction: column;
  font-family: "Pangram", sans-serif;
  font-size: calc(1.1rem + 8*(100vw - 360px) / 1400);
}

.form-contact__label {
  margin-top: 15px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="tel"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background: white;
}

.form-contact__btn {
  margin-top: 35px;
}

.form-contact__btn:hover {

}

.checkbox-container {
  display: flex;
  align-items: start;
  margin-top: 15px;
}

.checkbox-container input {
  margin-right: 10px;
}

.checkbox-container label {
  font-size: 12px;
}