.news-detail__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

}

.news-detail__img {
  max-width: 100%;
  height: auto;
}

.news-detail__content {
  max-width: 550px;
  margin-right: 10px;
}

.news-detail__content p{
  color: var(--text-color-black);
  font-size: 24px;
  font-weight: 300;
  line-height: 130%;
  text-align: justify;
}

.news-detail__btn{
  margin-top: 30px;
}

