.promo-detail__inner {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 40px;

	@media (max-width: 1200px) {
		flex-direction: column-reverse;
		align-items: center;
	}
}

.promo-detail__inner-item {
	flex: 1;
}

.promo-detail__img {
	max-width: 800px;
	width: 100%;
	height: auto;
}

.promo-detail__content {
	margin-right: 10px;
}

.promo-detail__content p {
	color: var(--text-color-black);
	font-size: 20px;
	font-weight: 300;
	line-height: 130%;
	text-align: justify;

	@media (max-width: 768px) {
		font-size: 14px;
	}
}

.promo-detail__btn {
	margin-top: 30px;
}
