.promo-detail__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;

	@media (max-width: 1200px) {
		flex-direction: column-reverse;
	}
}

.promo-detail__img {
	max-width: 700px;
	height: auto;

	@media (max-width: 1200px) {
		max-width: 550px;
	}
}

.promo-detail__content {
	max-width: 550px;
	margin-right: 10px;
}

.promo-detail__content p {
	color: var(--text-color-black);
	font-size: 20px;
	font-weight: 300;
	line-height: 130%;
	text-align: justify;

	@media (max-width: 768px) {
		font-size: 14px;
	}
}

.promo-detail__btn {
	margin-top: 30px;
}
