.section-questions {
  position: relative;
  height: 540px;
  margin-bottom: 0;
}

.section-questions__inner {
  top:  0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
  width: 100%;

  @media (max-width: 998px) {
    flex-direction: column;
    justify-content: center;
  }

}

.section-questions__content {
  color: var(--text-color-black);
  max-width: 500px;
  @media (max-width: 998px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.section-questions__title {
  font-weight: 700;
  font-size: calc(1.5rem + 8*(100vw - 360px) / 1200);
  line-height: 100%;
  margin-bottom: 20px;
}

.section-questions__txt {
  font-weight: 500;
  font-size: calc(1.2rem + 8*(100vw - 360px) / 1600);
  line-height: 120%;
  margin-top: 15px;

  @media (max-width: 998px) {
    text-align: center;
  }
}


.section-questions__img {
  width: 100%;
  filter: opacity(.2) blur(2px);
  object-fit: cover;
  height: 540px;
}

.section-questions__socials {
  display: flex;
  gap: 24px;
  margin-top: 16px;
  margin-left: 16px;

  @media (max-width: 998px) {
    margin-top: 16px;
    margin-left: 0px !important;
  }

}


.section-questions__socials img {
  width: 25px;
  height: 25px;
}

.section-questions__socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  background-color: #162C44;
}

.section-questions__socials a:hover svg path {
  fill: var(--green-light);
}


