.cards-wrapper-col3 {
	display: grid;
	grid-template-columns: repeat(3, calc(100% / 3 - 20px / 3 * (3 - 1)));
	column-gap: 20px;
	row-gap: 40px;
	//display: grid;
	place-content: center;
	place-items: center;
	//grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	//grid-row-gap: 20px;
	//grid-column-gap: 15px;

	@media (max-width: 1200px) {
		grid-column-gap: 8px;
		grid-template-columns: repeat(2, calc(100% / 2 - 8px / 2 * (2 - 1)));
		row-gap: 24px;
	}

	@media (max-width: 768px) {
		grid-column-gap: 8px;
		grid-template-columns: none;
		row-gap: 24px;
		place-content: normal;
	}
	&--one {
		@media (max-width: 768px) {
			> *:not(:first-child) {
				display: none;
			}
		}
	}
}

// Добавляем наследование стилей для .cards-wrapper-col3--one
.cards-wrapper-col3--one {
	display: grid;
	grid-template-columns: repeat(3, calc(100% / 3 - 20px / 3 * (3 - 1)));
	column-gap: 20px;
	row-gap: 40px;
	place-content: center;
	place-items: center;

	@media (max-width: 1200px) {
		grid-column-gap: 8px;
		grid-template-columns: repeat(2, calc(100% / 2 - 8px / 2 * (2 - 1)));
		row-gap: 24px;
	}

	@media (max-width: 768px) {
		grid-column-gap: 8px;
		grid-template-columns: none;
		row-gap: 24px;
		place-content: normal;

		> *:not(:first-child) {
			display: none;
		}
	}
}

.complexes__btn-container {
	display: flex;
	justify-content: flex-end;
	margin-top: 40px;
	@media (max-width: 768px) {
		justify-content: center;
	}
}

.cards-wrapper-col4 {
	display: grid;
	place-content: center;
	place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 32px;

	@media (max-width: 1320px) {
		grid-template-columns: 1fr 1fr 1fr;
	}

	@media (max-width: 940px) {
		grid-template-columns: 1fr 1fr;
		row-gap: 24px;
		place-content: normal;
	}
	@media (max-width: 610px) {
		grid-template-columns: 1fr;
		row-gap: 24px;
		place-content: normal;
	}
}
