.news__cards-wrapper {
	display: grid;
	grid-template-columns: repeat(3, calc(100% / 3 - 20px / 3 * (3 - 1)));
	column-gap: 20px;
	row-gap: 40px;
	place-content: center;

	@media (max-width: 998px) {
		grid-column-gap: 8px;
		grid-template-columns: repeat(2, calc(100% / 2 - 8px / 2 * (2 - 1)));
		row-gap: 24px;
	}

	@media (max-width: 768px) {
		grid-column-gap: 8px;
		grid-template-columns: none;
		row-gap: 24px;
	}
}

.section-news {
	&__btn-container {
		display: flex;
		justify-content: flex-end;
		margin-top: 40px;
		@media (max-width: 768px) {
			justify-content: center;
		}
	}
}
