.card-promotion {
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
  max-width: 530px;
  position: relative;
  width: 100%;
}

.card-promotion img {
  width: 100%;
  display: block;
  max-height: 300px;
}

.card-promotion__txt-top {
  position: absolute;
  font-weight: 700;
  font-size: 17px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  background: var(--sand-transparent);
  top: 8%;
  left: 7%;
}

.card-promotion__txt-bottom {
  position: absolute;
  font-weight: 700;
  font-size: 30px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: 8px;
  left: 6%;
}

