:root {
  --radial-bg: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%);
  --linear-bg: linear-gradient(181deg, rgba(0, 0, 0, 0.60) 0.91%, rgba(255, 255, 255, 0.00) 116.71%, rgba(255, 255, 255, 0.00) 116.72%);
  //--radial-bg: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%);
  //--linear-bg: linear-gradient(181deg, rgba(0, 0, 0, 0.20) 0.91%, rgba(255, 255, 255, 0.00) 116.71%, rgba(255, 255, 255, 0.00) 116.72%);
}

@mixin background-size {
  background-position: center center; /* x y */
  background-size: cover;
  background-repeat: no-repeat;
}

.slide {

  height: 80vh;
  overflow: hidden;
  padding-bottom: 80px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #555;

  background-position: center center; /* x y */
  background-size: cover !important;
  background-repeat: no-repeat;

  //&--norway {
  //
  //  background: var(--radial-bg), var(--linear-bg),
  //  url('./../img/slider-bg/01.jpg');
  //
  //  @include background-size;
  //}
  //
  //&--austria {
  //  background: var(--radial-bg), var(--linear-bg),
  //  url('./../img/slider-bg/02.jpg');
  //  @include background-size;
  //}
  //
  //&--uae {
  //  background: var(--radial-bg), var(--linear-bg),
  //  url('./../img/slider-bg/03.jpg');
  //  @include background-size;
  //}
  //
  //&--thailand {
  //  background: var(--radial-bg), var(--linear-bg),
  //  url('./../img/slider-bg/04.jpg');
  //  @include background-size;
  //}
  //
  //&--morocco {
  //  background: var(--radial-bg), var(--linear-bg),
  //  url('./../img/slider-bg/05.jpg');
  //  @include background-size;
  //}

  color: #fff;

  &::before {
    content: '';
  }

  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  @media (max-width: 1200px) {
    padding-bottom: 60px;
  }

  @media (max-width: 767px) {
    padding-top: 100px;
    padding-bottom: 40px;
  }
}

.slide__header {
  text-align: center;
}

.slide__tagline {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 3.56vw;
  line-height: 1.23;
  letter-spacing: 0.55em;
  color: rgba(255, 255, 255, 0.7);
  @media(max-width: 767px) {
    font-size: 3vw;
  }

}

.slide__title {
  font-family: "Oswald", sans-serif;
  margin-top: -20px;
  font-size: 12vw;
  font-weight: 700;
  line-height: 1.22;

  @media(max-width: 767px) {
    margin-top: 0;
    font-size: 17vw;
  }

  & span {
    padding: 0 10px;
    background: linear-gradient(180deg, #ffffff 25%, #646464 100%);
    //background: linear-gradient(47.06deg, #000000 -3.87%, rgba(255, 255, 255, 0) 20.89%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

//.slide__locations {
//  display: flex;
//  column-gap: 30px;
//  width: 70%;
//  margin: 0 auto;
//
//  @media(max-width: 1023px) {
//    width: 50%;
//    flex-direction: column;
//    row-gap: 20px;
//  }

  //@media(max-width: 767px) {
  //  //margin-left: 70px;
  //
  //}
//}

//.locations {
//  flex-grow: 1;
//  display: block;
//  position: relative;
//  padding: 34px 20px 26px 95px;
//  background-image: url("./../img/icons/map-marker-line.svg");
//  background-position: 35px 40px;
//  background-size: auto;
//  background-repeat: no-repeat;
//
//  @media(max-width: 1400px) {
//    padding: 20px 20px 18px 55px;
//    background-position: 15px 22px;
//  }
//
//  &::before {
//    content: '';
//    position: absolute;
//    left: 0px;
//    top: 0px;
//    width: 100%;
//    height: 100%;
//    background: rgba(255, 255, 255, 0.1);
//    border-radius: 5px;
//    filter: blur(3px);
//    transition: all 0.2s ease-in;
//  }
//
//  &:hover::before {
//    opacity: 0.8;
//    filter: blur(10px);
//  }
//}
//
//.location__title {
//  font-size: 20px;
//  font-weight: 700;
//  line-height: 1.2;
//  color: #FFFFFF;
//  margin-bottom: 4px;
//
//  @media(max-width: 1400px) {
//    font-size: 18px;
//  }
//
//}
//
//.location__link {
//  font-size: 16px;
//  font-weight: 500;
//  line-height: 1.25;
//  color: #FFFFFF;
//  opacity: 0.4;
//}

.slide__btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 110px;
}


//BEFORE

//:root {
//  --radial-bg: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%);
//  --linear-bg: linear-gradient(181deg, rgba(0, 0, 0, 0.20) 0.91%, rgba(255, 255, 255, 0.00) 116.71%, rgba(255, 255, 255, 0.00) 116.72%);
//}
//
//@mixin background-size {
//  background-position: center center; /* x y */
//  background-size: cover;
//  background-repeat: no-repeat;
//}
//
//.slide {
//  height: 80vh;
//  overflow: hidden;
//  padding-bottom: 80px;
//
//  display: flex;
//  flex-direction: column;
//  justify-content: space-between;
//
//
//
//
//
//
//
//  &--norway {
//    //background: var(--radial-bg), var(--linear-bg),
//    //url('./../img/slider-bg/01.jpg');
//
//    //@include background-size;
//  }
//  //
//  //&--austria {
//  //  background: var(--radial-bg), var(--linear-bg),
//  //  //url('./../img/slider-bg/02.jpg');
//  //  @include background-size;
//  //}
//  //
//  //&--uae {
//  //  background: var(--radial-bg), var(--linear-bg),
//  //  //url('./../img/slider-bg/03.jpg');
//  //  //@include background-size;
//  //}
//  //
//  //&--thailand {
//  //  background: var(--radial-bg), var(--linear-bg),
//  //  //url('./../img/slider-bg/04.jpg');
//  //  //@include background-size;
//  //}
//  //
//  //&--morocco {
//  //  background: var(--radial-bg), var(--linear-bg),
//  //  url('./../img/slider-bg/05.jpg');
//  //  @include background-size;
//  //}
//
//  color: #fff;
//
//  &::before {
//    content: '';
//  }
//
//  cursor: grab;
//
//  &:active {
//    cursor: grabbing;
//  }
//
//  @media (max-width: 1200px) {
//    padding-bottom: 60px;
//  }
//
//  @media (max-width: 767px) {
//    //padding-top: 100px;
//    padding-bottom: 40px;
//  }
//}
//
//
//.slide__img {
//  position: absolute;
//  width: 100%;
//  height: 100%;
//  object-fit: cover;
//  filter: brightness(30%) blur(2px);
//
//
//}
//
//.slide__header {
//  position: absolute;
//  top:50%;
//  left:50%;
//  transform:translate(-50%, -50%);
//  text-align: center;
//}
//
//.slide__tagline {
//  position: relative;
//  //top:50%;
//  //left:50%;
//  //transform:translate(-50%, -50%);
//  font-family: "Oswald", sans-serif;
//  font-weight: 300;
//  font-size: 3vw;
//  line-height: 100%;
//  color: rgba(255, 255, 255, .7);
//  z-index: 2;
//  @media(max-width: 767px) {
//    font-size: 6vw;
//  }
//
//}
//
//.slide__title {
//  //position: absolute;
//  position: relative;
//  font-family: "Oswald", sans-serif;
//  //top:50%;
//  //left:50%;
//  //transform:translate(-50%, -50%);
//  font-size: 12vw;
//  font-weight: 700;
//  line-height: 1.22;
//  z-index: 2;
//
//  @media(max-width: 767px) {
//    font-size: 17vw;
//  }
//
//  & span {
//    padding: 0 10px;
//    background: linear-gradient(180deg, #ffffff 25%, #646464 100%);
//    //background: linear-gradient(47.06deg, #000000 -3.87%, rgba(255, 255, 255, 0) 20.89%),  #FFFFFF;
//    -webkit-background-clip: text;
//    -webkit-text-fill-color: transparent;
//
//  }
//}
//
//.slide__btn-container {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  margin-top: 50px;
//}