.contacts-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.contacts-column {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
}

.contacts-column-title {
  font-family: "Pangram medium", sans-serif;
  font-size: 22px;
  margin-bottom: 10px;
}

.contacts-column-subtitle {
  font-family: "Pangram medium", sans-serif;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.contacts-column-txt {
  display: flex;
  align-items: center;
  gap: 7px;
}

.contacts-column-txt p{
  font-family: "Pangram medium", sans-serif;
  font-size: 16px;
}

.contacts-column-txt img{
  height: 16px;
}

p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .column {
    flex-basis: 100%;
  }
}