.filter {
  background-color: #5d71dd;
}

[data-tab-component] {

  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  position: relative;

  /*   // Tab navigation */
  [role="tablist"] {
    margin-bottom: 0;
    padding-left: 0;

    @media (min-width: 568px) {
      display: flex;
    }
  }

  /*   // Tab navigation items */
  [role="presentation"] {
    flex: 1;
    list-style-type: none;

  }

  /*   // Tab navigation links */
  [role="tab"]{
    align-items: center;
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    height: 100%;
    justify-content: center;
    padding: 20px 10px;
    text-align: center;
    text-decoration: none;
    transition: background-color 150ms;
    width: 100%;

    &:hover {
      background-color: lighten(black, 75%);
      color: black;
    }

    /*     // Modifiers */
    &[aria-selected="true"] {
      background-color: #fff;
      color: black;
    }
  }

  /*   // Tab panels */
  [role="tabpanel"] {
    background-color: #fff;
    padding: 30px;

    &[aria-hidden="true"] {
      display: none;
    }
  }
}

.filter-price__input {
  border: 1px solid black;
}

//Range slider

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.noUi-connect {
  background-color: #5d71dd !important;
}

.noUi-target {
  background-color: #bfbfbf !important;
  border: none !important;
  border-radius: 100px !important;
  box-shadow: none !important;
  height: 3px !important;
}

.noUi-handle::after,
.noUi-handle::before {
  display: none !important;
}

.noUi-handle {
  box-shadow: none !important;
  border-radius: 100% !important;
  background-color: #5d71dd !important;
  border: 3px solid #5d71dd !important;
}


.noUi-horizontal .noUi-handle {
  width: 22px !important;
  height: 22px !important;
  top: -10px !important;
}

.noUi-horizontal .noUi-handle-upper {
  //right: 0 !important;
}